.DS_Store

__pycache__/


# Datasets
*.csv

# Logs
*.log

# ML models
*.safetensors
*.pkl
# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Streamlit
.streamlit/secrets.toml
frontend/.streamlit/secrets.toml

# Models/cache
.cache/
.cache_huggingface/
huggingface/
*.bin
*.safetensors

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/